/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 Jan, 2015, 2:44:47 PM
    Author     : nisha
*/

#dialogoverlay1{
				display: none;
				opacity: .8;
				position: fixed;
				top: 0px;
				left: 0px;
				background: #FFF;
				width: 100%;
				z-index: 999;
			}
			#dialogbox1{
				display: none;
				position: fixed;
				background: #103D5F;
				border-radius:7px; 
				width:620px;
				z-index: 999;
			}
			#dialogbox1 > div{ background:#FFF; margin:8px; width:720px;}
			//#dialogbox > div > #dialogboxhead{ background: #103D5F; font-size:19px; padding:10px; color:#CCC; }
			#dialogbox1 > div > #dialogboxbody1{ background:#FFFAF0; padding:20px; color:#000; text-align: left;font-size: larger; font-weight: bold; height: 80px; }
			#dialogbox1 > div > #dialogboxfoot1{ background: #103D5F; padding:2px; text-align:right; }
			
			
			
			#dialogoverlay2{
				display: none;
				opacity: .8;
				position: fixed;
				top: 0px;
				left: 0px;
				background: #FFF;
				width: 100%;
				z-index: 999;
			}
			#dialogbox2{
				display: none;
				position: fixed;
				background: #103D5F;
				border-radius:7px; 
				width:420px;
				z-index: 999;
			}
			#dialogbox2 > div{ background:#FFF; margin:8px; }
			//#dialogbox > div > #dialogboxhead{ background: #103D5F; font-size:19px; padding:10px; color:#CCC; }
			#dialogbox2 > div > #dialogboxbody2{ background:#FFFAF0; padding:20px; color:#000; text-align: left;font-size: larger; font-weight: bold; height: 80px; }
			#dialogbox2 > div > #dialogboxfoot2{ background: #103D5F; padding:2px; text-align:right; }
			
			
			#dialogoverlay3{
				display: none;
				opacity: .8;
				position: fixed;
				top: 0px;
				left: 0px;
				background: #FFF;
				width: 100%;
				z-index: 999;
			}
			#dialogbox3{
				display: none;
				position: fixed;
				background: #103D5F;
				border-radius:7px; 
				width:420px;
				z-index: 999;
			}
			#dialogbox3 > div{ background:#FFF; margin:8px; }
			//#dialogbox > div > #dialogboxhead{ background: #103D5F; font-size:19px; padding:10px; color:#CCC; }
			#dialogbox3 > div > #dialogboxbody3{ background:#FFFAF0; padding:20px; color:#000; text-align: left;font-size: larger; font-weight: bold; height: 80px; }
			#dialogbox3 > div > #dialogboxfoot3{ background: #103D5F; padding:2px; text-align:right; }